
<input type="hidden" id="page" value="1" />
<input type="hidden" id="current_page" value="{{current_page}}" />
<input type="hidden" id="start_count" value="1" />

{% if reviews.has_other_pages %}
  <ul class="pagination">
    {% if reviews.has_previous %}
      <li class="page-item page-prev"><a class="page-link" onclick="FilterMaster('{{ reviews.previous_page_number }}')" href="javascript:void(0)">Previous</a></li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
  
    {% endif %}

    {% for i in reviews.paginator.page_range %}
      {% if reviews.number == i %}
        <li class="page-item active" >
          <a class="page-link" href="javascript:void(0)">{{i}}</a>
        </li>
      {% else %}
        <li class="page-item "><a class="page-link" onclick="FilterMaster('{{i}}')" href="javascript:void(0)">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    
    {% if reviews.has_next %}
      <li class="page-item page-next"><a class="page-link"  onclick="FilterMaster('{{reviews.next_page_number}}')" href="javascript:void(0)">Next</a></li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Next</a>
      </li>
    {% endif %}
  </ul>
{% endif %}