{% extends 'portal/layout/base.html' %}
{% load static %}
{% block 'content' %}

<!-- Top Rated Section -->
 {% if top_rated_spots %}
<section class="top-rated-section">
    <div class="top-rated-title">Top Rated</div>
    <div class="hotel-cards">
      <!-- Card 1 -->
       {% for top_rated_spot in  top_rated_spots %}
      <div class="attraction-card">
        <div class="attraction-image-container">
          <div class="attraction-carousel">
            {% for spot_image in top_rated_spot.spot_images.all %}
            <img src="{{spot_image.image.url}}" class="carousel-img {% if forloop.first %}active{% endif %}" alt="{{top_rated_spot.name}}">
            {% endfor %}
          </div>
          <span class="attraction-badge">Rated #{{forloop.counter}}</span>
    
          <div class="attraction-pagination">
            {% for spot_image in top_rated_spot.spot_images.all %}
            <span class="dot {% if forloop.first %}active{% endif %}"></span>
            {% endfor %}
          </div>
        </div>
        <div class="attraction-card-content">
          <div class="attraction-card-row">
            <span class="attraction-location">{{top_rated_spot.name}}</span>
            <span class="attraction-rating">
              <span class="star">&#9733;</span> {{top_rated_spot.rating}}
            </span>
          </div>
          <div class="attraction-distance">{% if top_rated_spot.distance %}{{top_rated_spot.distance}} km away{% else %}Distance unavailable{% endif %}</div>
          {% comment %} <div class="attraction-price">$154 CAD</div> {% endcomment %}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}
  <!-- Categories Section -->
  <section class="categories-section">
    <div class="categories-title">Categories</div>
    <div class="categories-toggles">
      <button class="toggle-btn active" data-id="{{categories.1.id}}" id="food-toggle">{{categories.0.title}}</button>
      <button class="toggle-btn" data-id="{{categories.1.id}}" id="attraction-toggle">{{categories.1.title}}</button>
    </div>
    <div class="categories-list" data-type="food">
    {% for food_spot in  food_spots %}
      <div class="category-card">
        <img src="{{food_spot.spot_images.first.image.url}}" alt="Tea & Snacks">
        <div class="category-label">{{food_spot.name}}</div>
        {% if food_spot.distance %}
        <div class="category-distance">{{food_spot.distance}} km</div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="categories-list" data-type="attraction" style="display:none;">
        {% for attraction_spot in attraction_spots %}
      <div class="category-card">
        <img src="{{attraction_spot.spot_images.first.image.url}}" alt="Beaches">
        <div class="category-label">{{attraction_spot.name}}</div>
        {% if attraction_spot.distance %}
        <div class="category-distance">{{attraction_spot.distance}} km</div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </section>

  <!-- Latest Attraction Sights Section -->
  <section class="top-rated-section">
    <div class="top-rated-title">Latest Attraction Sights</div>
    <div class="hotel-cards">
      <!-- Card 1 -->
       {% for latest_attraction in latest_attractions %}
      <div class="attraction-card">
        <div class="attraction-image-container">
          <div class="attraction-carousel">
            {% for spot_image in latest_attraction.spot_images.all %}
            <img src="{{spot_image.image.url}}" class="carousel-img {% if forloop.first %}active{% endif %}" alt="{{latest_attraction.name}}">
            {% endfor %}
          </div>
          {% comment %} <span class="attraction-badge">Rated #1</span> {% endcomment %}
          <div class="attraction-pagination">
            {% for spot_image in latest_attraction.spot_images.all %}
            <span class="dot {% if forloop.first %}active{% endif %}"></span>
            {% endfor %}
          </div>
        </div>
        <div class="attraction-card-content">
          <div class="attraction-card-row">
            <span class="attraction-location">{{latest_attraction.name}}</span>
            <span class="attraction-rating">
              <span class="star">&#9733;</span> {{latest_attraction.rating}}
            </span>
          </div>
          <div class="attraction-distance">{% if latest_attraction.distance %}{{latest_attraction.distance}} km away{% else %}Distance unavailable{% endif %}</div>
          {% comment %} <div class="attraction-price">$2,450 CAD</div> {% endcomment %}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <!-- Call-to-Action (CTA) Section -->
  <section class="cta-section">
    <div class="cta-card">
      <div class="cta-title">Do you know any unheard spots?</div>
      <div class="cta-subtitle">Let the world know by listing is here</div>
      <button class="cta-btn">Add a new spot</button>
    </div>
  </section>

{% endblock %}