<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Luxury Travel Homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'portal/css/style.css' %}">
</head>
<body>
  {% include 'portal/layout/header.html' %}
  
  {% block 'content' %}
  {% endblock %}

  {% include 'portal/layout/footer.html' %}
  <script src="{% static 'portal/js/location.js' %}?v=1"></script> 
  <script src="{% static 'portal/js/script.js' %}?v=1"></script> 
</body>
</html> 