{% extends 'adminpanel/layout/base.html' %} {% load static %} {% block 'content' %}
<!--app-content open-->
<div class="main-content app-content mt-0">
  <div class="side-app">
    <!-- CONTAINER -->
    <div class="main-container container-fluid">
      <!-- PAGE-HEADER -->
      <div class="page-header">
        <h1 class="page-title">Profile View</h1>
      </div>
      <!-- PAGE-HEADER END -->
      <!-- ROW-1 OPEN -->
      <form method="POST" name='profileForm' action="{% url 'adminpanel:profile' %}" id="profileForm">
        {% csrf_token %}
        <div class="row">
            <div class="col-xl-8 col-lg-8">
            <div class="card">
                <div class="card-header">
                <h3 class="card-title">Edit Password</h3>
                </div>
                <div class="card-body">
                <div class="row">
                    <div class="form-group">
                    <label class="form-label">Current Password</label>
                    <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                        <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                        <i class="zmdi zmdi-eye text-muted" aria-hidden="true"></i>
                        </a>
                        <input name="current_password" value="" id="current_password" class="input100 form-control" type="password" placeholder="Current Password" autocomplete="current-password">
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="form-label">New Password</label>
                    <div class="wrap-input100 validate-input input-group" id="Password-toggle1">
                        <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                        <i class="zmdi zmdi-eye text-muted" aria-hidden="true"></i>
                        </a>
                        <input name="new_password" value="" id="new_password" class="input100 form-control" type="password" placeholder="New Password" autocomplete="new-password">
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="form-label">Confirm Password</label>
                    <div class="wrap-input100 validate-input input-group" id="Password-toggle2">
                        <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                        <i class="zmdi zmdi-eye text-muted" aria-hidden="true"></i>
                        </a>
                        <input name="confirm_new_password" value="" id="confirm_new_password" class="input100 form-control" type="password" placeholder="Confirm Password" autocomplete="new-password">
                    </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-success">Update</button>
                    <a href="{% url 'adminpanel:dashboard' %}" class="btn btn-danger">Cancel</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </form>
    <!-- ROW-1 CLOSED -->
  </div>
  <!-- CONTAINER END -->
</div>
</div>
<!--app-content close--> 
{% endblock 'content' %}
{% block page_script %}
<script src="{% static 'adminpanel/js/account.js' %}"></script>
{% endblock page_script %}

