{% load static %}
{% for user in users %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{user.first_name}} {{user.last_name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.mobile}}</td>
    <td>{{user.post_count}}</td>
    <td>
        <div class="material-switch">
            <input class="master-toggle" id="someSwitchOptionSuccess-{{user.id}}" name="someSwitchOption001" type="checkbox" data-url="{% url 'adminpanel:user_toggle' user.id %}" data-item_id="{{user.id}}" {% if user.is_active %} checked {% endif %} />
            <label for="someSwitchOptionSuccess-{{user.id}}" class="label-success"></label>
        </div>
    </td>
    {% comment %} <td>
        {% if user.is_deleted %}
        <a class="btn btn-danger btn-sm mb-1 delete-item">
            <span style='color:white'>deleted</span>
        </a>
        {% else %}
            <a class="btn btn-info btn-sm mb-1" href=""><i class="side-menu__icon fe fe-edit"></i></a>
            <a class="btn btn-danger btn-sm mb-1 delete-item" href="javascript:void(0)" data-item-id="{{user.id}}" data-url="{% url 'adminpanel:user_delete' user.id %}"><i class="side-menu__icon fe fe-trash" data-bs-toggle="modal" data-bs-target="#delete-modal"></i></a>
        {% endif %}
        
    </td> {% endcomment %}
</tr>
{% empty %}
<tr>
    <td colspan="100%" class="text-center">No data found</td>
</tr>
{% endfor %}

{% block page_script %}
<script src="{% static 'adminpanel/js/master.js' %}"></script>

{% endblock page_script %}
