{% load static %}
{% for user in users %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.mobile_number}}</td>
    <td>
        <a class="btn btn-primary btn-sm mb-1" href="#"   data-bs-toggle="modal" data-bs-target="#feedback{{user.id}}"><i class="side-menu__icon fe fe-eye"></i></a>
        
        <!-- modaldetails modal -->

        <div class="modal  fade" id="feedback{{user.id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Feedback</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <div class="">
                        {% if user.account_deletion_status.all %}
                            {% for feedback in user.account_deletion_status.all %}
                                <p>{{feedback.reason}} </p>
                            {% endfor %}
                        {% endif %}
                        
                        </div>
                                                
                    </div>
                
                        <div class="modal-footer">
                        <a class="btn btn-danger" href="#" data-bs-dismiss="modal">Close</a>
                    
                    </div>
                </div>
            </div>
        </div>	

        <!-- modaldetails modal end-->
    </td>
    <td>
        <div class="material-switch">
            <input class="master-toggle" id="someSwitchOptionSuccess-{{user.id}}" name="someSwitchOption001" type="checkbox" data-url="{% url 'adminpanel:user_toggle' user.id %}" data-item_id="{{user.id}}" {% if user.is_active %} checked {% endif %} />
            <label for="someSwitchOptionSuccess-{{user.id}}" class="label-success"></label>
        </div>
    </td>
    {% comment %} <td>
        {% if user.is_deleted %}
        <a class="btn btn-danger btn-sm mb-1 delete-item">
            <span style='color:white'>deleted</span>
        </a>
        {% else %}
            <a class="btn btn-info btn-sm mb-1" href=""><i class="side-menu__icon fe fe-edit"></i></a>
            <a class="btn btn-danger btn-sm mb-1 delete-item" href="javascript:void(0)" data-item-id="{{user.id}}" data-url="{% url 'adminpanel:user_delete' user.id %}"><i class="side-menu__icon fe fe-trash" data-bs-toggle="modal" data-bs-target="#delete-modal"></i></a>
        {% endif %}
        
    </td> {% endcomment %}
</tr>
{% empty %}
<tr>
    <td colspan="100%" class="text-center">No data found</td>
</tr>
{% endfor %}

{% block page_script %}
<script src="{% static 'adminpanel/js/master.js' %}"></script>

{% endblock page_script %}
